*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 197, 146);
    height: 67px;
}

.header-titulo{
    display: flex;
    flex-direction: row;
    gap: 228px;
    width: 455px;
    height: 40px;
    background-color: aqua;
}

.barra-lateral{
    width: 87px;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
}

.title{
    width: 455px;
    align-items: center;
}




main{
    height: 930px;
background-color: rgb(214, 172, 253);
}

footer{
    height: 60px;
    background-color: rgb(108, 184, 219);
}
